@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	margin: 0;
	font-family: 'Space Mono', monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #c5e4e7;
}

.radio_button {
	padding: 8px 0;
	text-align: center;
	border-radius: 6px;
	cursor: pointer;
}

.radio_button:hover {
	background: #c5e4e7;
	color: #00494d;
}
